<footer id="footer" class="container">
    <div class="row">
        <div class="col-12">
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; WorkOut. All rights reserved</li>
                    <li>Email: <a href="mailto:info@workout.com">info@workout.com</a></li>
                    <li>Phone: (051) 111-2222</li>
                    <li>Address: 708, Jungang-daero, Busanjin-gu, Busan</li>
                </ul>
            </div>
        </div>
    </div>
</footer>